<ion-content *ngIf="gamecastDetails">
	<ion-list lines="full">
		<ion-list-header>Game Settings</ion-list-header>
		<ion-item>
			<ion-input
				class="ion-text-right"
				labelPlacement="start"
				label="Full Timeouts"
				type="number"
				[(ngModel)]="gamecastDetails.fullTimeouts"
			></ion-input>
		</ion-item>
		<ion-item>
			<ion-input
				class="ion-text-right"
				labelPlacement="start"
				label="Partial Timeouts"
				[(ngModel)]="gamecastDetails.partialTimeouts"
				type="number"
			></ion-input>
		</ion-item>
		<ion-item>
			<ion-input
				class="ion-text-right"
				labelPlacement="start"
				label="Periods/Game"
				[(ngModel)]="gamecastDetails.periodsPerGame"
				type="number"
			></ion-input>
		</ion-item>
		<ion-item>
			<ion-input
				class="ion-text-right"
				labelPlacement="start"
				label="Minutes/Period"
				[(ngModel)]="gamecastDetails.minutesPerPeriod"
				type="number"
			></ion-input>
		</ion-item>
		<ion-item>
			<ion-input
				class="ion-text-right"
				labelPlacement="start"
				label="Minutes/Overtime"
				[(ngModel)]="gamecastDetails.minutesPerOvertime"
				type="number"
			></ion-input>
		</ion-item>
		<ion-item>
			<ion-checkbox
				(ionChange)="setCheckbox($event)"
				[checked]="gamecastDetails.resetTimeoutsEveryPeriod == 1">
				Reset TOs/Period
			</ion-checkbox>
		</ion-item>
	</ion-list>
	<ion-button expand="block" (click)="save()">Save</ion-button>
  </ion-content>
