<ion-content>
	<ion-list lines="full">
		<ion-list-header>Game Settings</ion-list-header>
		<ion-item>
			<ion-input
				class="ion-text-right"
				labelPlacement="start"
				label="Full Timeouts"
				type="number"
				[(ngModel)]="game.fullTimeoutsPerGame"
			></ion-input>
		</ion-item>
		<ion-item>
			<ion-input
				class="ion-text-right"
				labelPlacement="start"
				label="Partial Timeouts"
				[(ngModel)]="game.partialTimeoutsPerGame"
				type="number"
			></ion-input>
		</ion-item>
		<ion-item>
			<ion-checkbox
				(ionChange)="setPeriods($event)"
				[checked]="game.hasFourQuarters">
				Has 4 Quarters
			</ion-checkbox>
		</ion-item>
		<ion-item>
			<ion-input
				class="ion-text-right"
				labelPlacement="start"
				label="Minutes/Period"
				[(ngModel)]="game.minutesPerPeriod"
				type="number"
			></ion-input>
		</ion-item>
		<ion-item>
			<ion-input
				class="ion-text-right"
				labelPlacement="start"
				label="Minutes/Overtime"
				[(ngModel)]="game.minutesPerOvertime"
				type="number"
			></ion-input>
		</ion-item>
		<ion-item>
			<ion-checkbox
				(ionChange)="setCheckbox($event)"
				[checked]="game.resetTimeoutsEveryPeriod">
				Reset TOs/Period
			</ion-checkbox>
		</ion-item>
	</ion-list>
	<ion-button expand="block" (click)="save()">Save</ion-button>
  </ion-content>
