<ion-content>
	<ion-list lines="full">
		<ion-list-header>Game Settings</ion-list-header>
		<ion-item>
			<ion-input
				class="ion-text-right"
				labelPlacement="start"
				label="Full Timeouts"
				type="number"
				[(ngModel)]="game.settings!.full_timeouts"
			></ion-input>
		</ion-item>
		<ion-item>
			<ion-input
				class="ion-text-right"
				labelPlacement="start"
				label="Partial Timeouts"
				[(ngModel)]="game.settings!.partial_timeouts"
				type="number"
			></ion-input>
		</ion-item>
		<ion-item>
			<ion-checkbox [(ngModel)]="game.has_four_quarters">Has 4 Quarters</ion-checkbox>
		</ion-item>
		<ion-item>
			<ion-input
				class="ion-text-right"
				labelPlacement="start"
				label="Minutes/Period"
				[(ngModel)]="game.settings!.minutes_per_period"
				type="number"
			></ion-input>
		</ion-item>
		<ion-item>
			<ion-input
				class="ion-text-right"
				labelPlacement="start"
				label="Minutes/Overtime"
				[(ngModel)]="game.settings!.minutes_per_overtime"
				type="number"
			></ion-input>
		</ion-item>
		<ion-item>
			<ion-select label="Timeouts" [(ngModel)]="game.settings!.reset_timeouts">
				<ion-select-option [value]="0">No Reset</ion-select-option>
				<ion-select-option [value]="1">Reset Every Period</ion-select-option>
				<ion-select-option [value]="2">Reset At Half</ion-select-option>
				<ion-select-option [value]="3">Reset Full Only Every Period</ion-select-option>
				<ion-select-option [value]="4">Reset Full Only Every Half</ion-select-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-select label="Fouls" [(ngModel)]="game.settings!.reset_fouls">
				<ion-select-option [value]="0">No Reset</ion-select-option>
				<ion-select-option [value]="1">Reset Every Period</ion-select-option>
				<ion-select-option [value]="2">Reset At Half</ion-select-option>
			</ion-select>
		</ion-item>
	</ion-list>
	<ion-button expand="block" (click)="save()">Save</ion-button>
  </ion-content>
