<app-header [showPopover]="true">
  <ion-toolbar color="primary">
    <ion-breadcrumbs>
      <ion-breadcrumb routerLink="/home/games">Games</ion-breadcrumb>
      <ion-breadcrumb routerLink="/home/gamecast/{{ gameId }}">Gamecast: {{ gameId }}</ion-breadcrumb>
    </ion-breadcrumbs>
  </ion-toolbar>
</app-header>

<ion-content color="light">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Game ID: {{ gameId }}</ion-card-title>
      <ion-card-title class="timer-style">{{ timerDisplay || (timerDuration / 60) + ':00' }}</ion-card-title>
      <div class="game-info">
        <p>Period: {{ period }}</p>
        <button id="period-button" (click)="nextPeriod()">Next Period</button>
      </div>
    </ion-card-header>
    <div class="benched-width">
      <ng-container>
        <div class="benched-container" id="home-benched-container"></div>
      </ng-container>
      <ng-container>
        <div class="benched-container" id="away-benched-container"></div>
      </ng-container>
    </div>
    <ion-card-content>
      <div class="scoreboard">
        <!-- Home Team -->
        <div class="column">
          <p class="home-font" id="players-text">Players</p>
          <ng-container>
            <div class="players-container" id="home-players-container">
            </div>
          </ng-container>
        </div>
        <ng-container *ngIf="currentGame$ | async as currentGame">
          <div  class="home-font" id="home-team-container" class="team-container">
            <h2  class="home-font" id="school-title">{{ currentGame.homeTeam}}</h2>
            <p class="team-score digital-number; home-font">{{ homeTeamScore }}</p>
            <p class="home-font">Fouls: {{ homeTeamFouls }} | Steals: {{ homeTeamSteals }} | Timeouts left: {{ homeTeamTOL }}</p>
            <div class="row-fluid">
              <button class="number-button" id="home-button" (click)="addPoints('home', 1)">+1</button>
              <button class="number-button" id="home-button" (click)="addPoints('home', 2)">+2</button>
              <button class="number-button" id="home-button" (click)="addPoints('home', 3)">+3</button>
            </div>
            <div class="row-fluid">
              <button class="other-button" id="home-button">1</button>
              <button class="other-button" id="home-button">3</button>
              <button class="other-button" id="home-button">MISS</button>
            </div>
            <div class="row-fluid">
              <button class="other-button" id="home-button" (click)="addFoul('home')">FOUL</button>
              <button class="other-button" id="home-button" (click)="addSteal('home')">STL</button>
              <button class="other-button" id="home-button" (click)="useTimeout('home', 30)">30s</button>
              <button class="other-button" id="home-button" (click)="useTimeout('home', 60)">60s</button>
            </div>
            <div class="row-fluid">
              <button class="small-button" id="home-button">AST</button>
              <button class="small-button" id="home-button">PB+</button>
              <button class="small-button" id="home-button">PB-</button>
              <button class="small-button" id="home-button">BLK</button>
              <button class="small-button" id="home-button">OR</button>
              <button class="small-button" id="home-button">DR</button>
            </div>
          </div>

          <!--Court(?)-->
          <div id="court-container" class="team-container">
            <img src="assets/images/Court_Image.png">
          </div>

        <!-- Guest Team -->
        <div id="away-team-container" class="team-container">
          <h2 class="away-font" id="school-title">{{currentGame.awayTeam}}</h2>
          <p class="team-score digital-number; away-font">{{ awayTeamScore }}</p>
          <p class="away-font">Fouls: {{ awayTeamFouls }} | Steals: {{ awayTeamSteals }} | Timeouts left: {{ awayTeamTOL }}</p>
          <div class="row-fluid">
            <button class="number-button" id="away-button" (click)="addPoints('away', 1)">+1</button>
            <button class="number-button" id="away-button" (click)="addPoints('away', 2)">+2</button>
            <button class="number-button" id="away-button" (click)="addPoints('away', 3)">+3</button>
          </div>
          <div class="row-fluid">
            <button class="other-button" id="away-button">1</button>
            <button class="other-button" id="away-button">3</button>
            <button class="other-button" id="away-button">MISS</button>
          </div>
          <div class="row-fluid">
            <button class="other-button" id="away-button" (click)="addFoul('away')">FOUL</button>
            <button class="other-button" id="away-button" (click)="addSteal('away')">STL</button>
            <button class="other-button" id="away-button" (click)="useTimeout('away', 30)">30s</button>
            <button class="other-button" id="away-button" (click)="useTimeout('away', 60)">60s</button>
          </div>
          <div class="row-fluid">
            <button class="small-button" id="away-button">AST</button>
            <button class="small-button" id="away-button">PB+</button>
            <button class="small-button" id="away-button">PB-</button>
            <button class="small-button" id="away-button">BLK</button>
            <button class="small-button" id="away-button">OR</button>
            <button class="small-button" id="away-button">DR</button>
          </div>
        </div>
      </ng-container>
      <div class="column">
        <p class="away-font" id="players-text">Players</p>
        <ng-container>
          <div class="players-container" id="away-players-container">
          </div>
        </ng-container>
      </div>
      </div>
      <div class="bottom-button-container">
        <button id="normal-button" (click)="startStopTimer()">{{ timerRunning ? 'End' : 'Start' }} Game</button>
        <button id="normal-button" (click)="resetGame()">Reset Game</button>
      </div>
    </ion-card-content>
    <p>This is here to display the button presses.</p>
  </ion-card>
</ion-content>
