<ion-header>
  <ion-toolbar color="primary">
    <ion-breadcrumbs>
      <ion-breadcrumb routerLink="/home/games">Games</ion-breadcrumb>
      <ion-breadcrumb>Gamecast: {{ gameId }}</ion-breadcrumb>
    </ion-breadcrumbs>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid style="height: 100%; width: 100%;">
	<ion-row class="ion-margin-vertical">
		<ion-col class="ion-text-right">
			<ion-button color="medium" class="normal-button" (click)="startStopTimer(false)">Start</ion-button>
		</ion-col>
		<ion-col class="ion-text-center">
			<ion-input style="font-size: xxx-large; font-weight: bolder;" [ngModel]="timerDisplay" (doubleTap)="ro = false" (keyup.enter)="ro = true" [readonly]="ro"></ion-input>
		</ion-col>
		<ion-col class="ion-text-left">
			<ion-button color="medium" class="normal-button" (click)="startStopTimer(true)">Stop</ion-button>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col size="0" sizeXl="1"></ion-col>
		<ion-col size="12" sizeXl="10">
			<div class="scoreboard">
				<!-- Home Team -->
				<div class="players-container" id="home-players-container">
					<div class="home-font" id="team-numbers" *ngFor="let player of homeTeamPlayers; let i = index">
						<ion-button fill="clear" id="context-menu-trigger{{i}}" color="primary" (click)="addToHomeCourt(player)">
							{{player.number}}
						</ion-button>
						<ion-popover trigger="context-menu-trigger{{i}}" triggerAction="context-menu" side="right" alignment="end">
							<ng-template>
								<ion-content color="primary" class="ion-padding">
									Name: {{player.firstName}} {{player.lastName}}<br>
									Number: {{player.number}}
									<div style="display: flex; float: right;">
										<ion-button color="light" fill="clear">
											<ion-icon slot="icon-only" name="pencil"></ion-icon>
										</ion-button>
									</div>
								</ion-content>
							</ng-template>
						</ion-popover>
					</div>
				</div>
				<ng-container *ngIf="currentGame">
					<ion-grid>
						<ion-row>
							<ion-col size="5">
								<ion-grid style="border-radius: 10px; background-color: #e5eee7; width: 100%; padding: 0;">
									<ion-row>
										<ng-container *ngFor="let player of homePlayersOnCourt; let i = index">
											<ion-col id="context-menu-trigger-homeCourt{{i}}" *ngIf="homePlayersOnCourt.length >= i">
												<ion-button style="font-size: large;" [ngClass]="{'selectedButton':homePlayerSelected == i}" fill="clear" expand="block" (tap)="homePlayerSelected == 0 ? homePlayerSelected = i : homePlayerSelected = 0" (doubleTap)="removeFromHomeCourt(player)">
													<ion-label>{{player.number}}</ion-label>
													<ion-popover trigger="context-menu-trigger-homeCourt{{i}}" triggerAction="context-menu" side="top" alignment="start">
														<ng-template>
															<ion-content color="primary" class="ion-padding">
																Name: {{player.firstName}} {{player.lastName}}<br>
																Number: {{player.number}}
																<div style="display: flex; float: right;">
																	<ion-button color="light" fill="clear">
																		<ion-icon slot="icon-only" name="pencil"></ion-icon>
																	</ion-button>
																</div>
															</ion-content>
														</ng-template>
													</ion-popover>
												</ion-button>
											</ion-col>
										</ng-container>
									</ion-row>
								</ion-grid>
								<ion-card>
									<ion-card-header>
										<ion-card-title class="ion-text-center">
											{{ currentGame.homeTeam }}
										</ion-card-title>
										<ion-label class="ion-margin-vertical ion-text-center">
											<p class="team-score digital-number; home-font">{{ currentGame.homeFinal }}</p>
											<p class="home-font">Fouls: {{ homeTeamFouls }} | Timeouts left: {{ currentGame.homeTeamTOL }}</p>
										</ion-label>
									</ion-card-header>
									<ion-grid>
										<ion-row>
											<ion-col>
												<ion-button expand="block" color="primary" (click)="addPoints('home', 1)">+1</ion-button>
											</ion-col>
											<ion-col>
												<ion-button expand="block" color="primary" (click)="addPoints('home', 2)">+2</ion-button>
											</ion-col>
											<ion-col>
												<ion-button expand="block" color="primary" (click)="addPoints('home', 3)">+3</ion-button>
											</ion-col>
										</ion-row>
										<ion-row>
											<ion-col>
												<ion-button expand="block" color="primary">1</ion-button>
											</ion-col>
											<ion-col>
												<ion-button expand="block" color="primary">3</ion-button>
											</ion-col>
											<ion-col>
												<ion-button expand="block" color="primary">MISS</ion-button>
											</ion-col>
										</ion-row>
										<ion-row>
											<ion-col>
												<ion-button expand="block" color="primary" (click)="addFoul('home')">FOUL</ion-button>
											</ion-col>
											<ion-col>
												<ion-button expand="block" color="primary" (click)="addSteal('home')">STL</ion-button>
											</ion-col>
											<ion-col>
												<ion-button expand="block" color="primary" (click)="useTimeout('home', true)">30s</ion-button>
											</ion-col>
											<ion-col>
												<ion-button expand="block" color="primary" (click)="useTimeout('home', false)">60s</ion-button>
											</ion-col>
										</ion-row>
										<ion-row>
											<ion-col>
												<ion-button fill="clear" expand="block" size="small" color="primary">AST</ion-button>
											</ion-col>
											<ion-col>
												<ion-button fill="clear" expand="block" size="small" color="primary">PB+</ion-button>
											</ion-col>
											<ion-col>
												<ion-button fill="clear" expand="block" size="small" color="primary">PB-</ion-button>
											</ion-col>
											<ion-col>
												<ion-button fill="clear" expand="block" size="small" color="primary">BLK</ion-button>
											</ion-col>
											<ion-col>
												<ion-button fill="clear" expand="block" size="small" color="primary">OR</ion-button>
											</ion-col>
											<ion-col>
												<ion-button fill="clear" expand="block" size="small" color="primary">DR</ion-button>
											</ion-col>
										</ion-row>
									</ion-grid>
								</ion-card>
							</ion-col>
							<ion-col size="2">
								<div class="game-info">
									<ion-label color="medium">Period: {{ currentGame.period }}</ion-label>
									<ion-button color="medium" fill="clear" size="small" (click)="nextPeriod()">
										<ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
									</ion-button>
								</div>
								<div class="top-width">
									<ion-button size="default" color="medium">
										<ion-icon slot="icon-only" name="stats-chart"></ion-icon>
									</ion-button>
									<ion-button size="default" color="medium">
										<ion-icon slot="icon-only" name="settings"></ion-icon>
									</ion-button>
									<ion-button size="default" color="medium">
										<ion-icon slot="icon-only" name="calendar"></ion-icon>
									</ion-button>
								</div>
								<div class="team-container">
									<img src="assets/images/sad_cat.jpg">
								</div>
							</ion-col>
							<ion-col size="5">
								<div class="court-container" id="away-court-container">
									<span class="home-font" id="team-numbers" *ngFor="let player of awayPlayersOnCourt; let i = index">
										<ion-button fill="clear" shape="round" color="danger" size="large" id="context-menu-trigger-awayCourt{{i}}" (click)="removeFromAwayCourt(player)">
											{{player.number}}
										</ion-button>
										<ion-popover trigger="context-menu-trigger-awayCourt{{i}}" triggerAction="context-menu" side="top" alignment="start">
											<ng-template>
											<ion-content color="danger" class="ion-padding">
												Name: {{player.firstName}} {{player.lastName}}<br>
												Number: {{player.number}}
												<div style="display: flex; float: right;">
													<ion-button color="light" fill="clear">
														<ion-icon slot="icon-only" name="pencil"></ion-icon>
													</ion-button>
												</div>
											</ion-content>
											</ng-template>
										</ion-popover>
									</span>
								</div>
								<div id="away-team-container" class="team-container">
									<h2 class="away-font" id="school-title">{{currentGame.awayTeam}}</h2>
									<p class="team-score digital-number; away-font">{{ currentGame.awayFinal }}</p>
									<p class="away-font">Fouls: {{ awayTeamFouls }} | Timeouts left: {{ currentGame.awayTeamTOL }}</p>
									<div class="row-fluid">
										<ion-button color="danger" class="number-button" (click)="addPoints('away', 1)">+1</ion-button>
										<ion-button color="danger" class="number-button" (click)="addPoints('away', 2)">+2</ion-button>
										<ion-button color="danger" class="number-button" (click)="addPoints('away', 3)">+3</ion-button>
									</div>
									<div class="row-fluid">
										<ion-button color="danger" class="other-button">1</ion-button>
										<ion-button color="danger" class="other-button">3</ion-button>
										<ion-button color="danger" class="other-button">MISS</ion-button>
									</div>
									<div class="row-fluid">
										<ion-button color="danger" class="other-button" (click)="addFoul('away')">FOUL</ion-button>
										<ion-button color="danger" class="other-button" (click)="addSteal('away')">STL</ion-button>
										<ion-button color="danger" class="other-button" (click)="useTimeout('away', true)">30s</ion-button>
										<ion-button color="danger" class="other-button" (click)="useTimeout('away', false)">60s</ion-button>
									</div>
									<div class="row-fluid">
										<ion-button color="danger" class="small-button">AST</ion-button>
										<ion-button color="danger" class="small-button">PB+</ion-button>
										<ion-button color="danger" class="small-button">PB-</ion-button>
										<ion-button color="danger" class="small-button">BLK</ion-button>
										<ion-button color="danger" class="small-button">OR</ion-button>
										<ion-button color="danger" class="small-button">DR</ion-button>
									</div>
								</div>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ng-container>
				<!-- Guest Team -->
				<div class="players-container" id="away-players-container">
					<div class="away-font" id="team-numbers" *ngFor="let player of awayTeamPlayers; let i = index">
						<ion-button fill="clear" color="danger" id="context-menu-trigger-away{{i}}" (click)="addToAwayCourt(player)">
							{{player.number}}
						</ion-button>
						<ion-popover trigger="context-menu-trigger-away{{i}}" triggerAction="context-menu" side="left" alignment="start">
							<ng-template>
								<ion-content color="danger" class="ion-padding">
									Name: {{player.firstName}} {{player.lastName}}<br>
									Number: {{player.number}}
									<div style="display: flex; float: right;">
										<ion-button color="light" fill="clear">
											<ion-icon slot="icon-only" name="pencil"></ion-icon>
										</ion-button>
									</div>
								</ion-content>
							</ng-template>
						</ion-popover>
					</div>
				</div>
			</div>
			<div class="bottom-button-container">
				<div class="small-number-container">
					<span id="default-color">{{newPlayerNumber}}</span>
				</div>
				<ng-container *ngIf="currentGame">
					<ion-button color="medium" class="bottom-number-button" [disabled]="newPlayerNumber.length == 0" (click)="clearNumberInput()">Undo</ion-button>
					<ion-button color="medium" class="bottom-number-button" (click)="inputNumber(0)">0</ion-button>
					<ion-button color="medium" class="bottom-number-button" (click)="inputNumber(1)">1</ion-button>
					<ion-button color="medium" class="bottom-number-button" (click)="inputNumber(2)">2</ion-button>
					<ion-button color="medium" class="bottom-number-button" (click)="inputNumber(3)">3</ion-button>
					<ion-button color="medium" class="bottom-number-button" (click)="inputNumber(4)">4</ion-button>
					<ion-button color="medium" class="bottom-number-button" (click)="inputNumber(5)">5</ion-button>
					<ion-button color="medium" class="bottom-number-button" (click)="inputNumber(6)">6</ion-button>
					<ion-button color="medium" class="bottom-number-button" (click)="inputNumber(7)">7</ion-button>
					<ion-button color="medium" class="bottom-number-button" (click)="inputNumber(8)">8</ion-button>
					<ion-button color="medium" class="bottom-number-button" (click)="inputNumber(9)">9</ion-button>
					<ion-button color="primary" class="bottom-number-button" [disabled]="newPlayerNumber.length == 0" (click)="addToTeam('home')">
						Home
					</ion-button>
					<ion-button color="danger" class="bottom-number-button" [disabled]="newPlayerNumber.length == 0" (click)="addToTeam('away')">
						Away
					</ion-button>
				</ng-container>
			</div>
		</ion-col>
		<ion-col size="0" sizeXl="1"></ion-col>
	</ion-row>
	<ion-row *ngIf="plays" class="ion-margin-vertical">
		<ion-col size="3"></ion-col>
		<ion-col id="playsModal" size="6">
			<ion-list>
				<ion-item *ngFor="let play of plays | slice:0:3">
					<ion-label>{{play.data}}</ion-label>
				</ion-item>
			</ion-list>
		</ion-col>
		<ion-modal [backdropDismiss]="false" #modal trigger="playsModal">
		  <ng-template>
			<ion-header>
				<ion-toolbar>
					<ion-title>Plays</ion-title>
					<ion-buttons slot="end">
						<ion-button (click)="modal.dismiss()">
							<ion-icon slot="icon-only" name="close"></ion-icon>
						</ion-button>
					</ion-buttons>
				</ion-toolbar>
			</ion-header>
			<ion-content class="ion-padding">
				<ion-list inset="true" lines="full">
					<ion-item *ngFor="let play of plays">
						<ion-label>{{play.data}}</ion-label>
					</ion-item>
				</ion-list>
			</ion-content>
		  </ng-template>
		</ion-modal>
		<ion-col size="3"></ion-col>
	</ion-row>
  </ion-grid>
</ion-content>
