<ion-header>
  <ion-toolbar color="primary">
    <ion-breadcrumbs>
      <ion-breadcrumb routerLink="/home/games">Games</ion-breadcrumb>
      <ion-breadcrumb>Gamecast: {{ gameId }}</ion-breadcrumb>
    </ion-breadcrumbs>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card>
  <ion-card-header>
    <ion-card-title class="timer-style">{{ timerDisplay || (timerDuration / 60) + ':00' }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="scoreboard">
      <!-- Home Team -->
      <div class="players-container" id="home-players-container">
        <div class="home-font" id="team-numbers" *ngFor="let player of homeTeamPlayers; let i = index">
          <ion-button fill="clear" size="default" id="context-menu-trigger{{i}}" color="primary" (click)="addToHomeCourt(player)">
            {{player.number}}
          </ion-button> 
          <ion-popover trigger="context-menu-trigger{{i}}" triggerAction="context-menu" side="right" alignment="end">
            <ng-template>
              <ion-content color="primary" class="ion-padding">
                Name: {{player.firstName}} {{player.lastName}}<br>
                Number: {{player.number}}
                <div style="display: flex; float: right;"> 
                  <ion-button color="light" size="small" shape="round" fill="clear" class="no-drag">
                    <ion-icon slot="icon-only" name="pencil-sharp"></ion-icon>
                  </ion-button>
                </div>
              </ion-content>
            </ng-template>
          </ion-popover>       
        </div> 
      </div>
      <ng-container *ngIf="currentGame$ | async as currentGame">
        <div class="column">
          <div class="court-container" id="home-court-container"> 
            <span class="home-font" id="team-numbers" *ngFor="let player of homeTeamPlayersOnCourt; let i = index">
              <ion-button fill="clear" shape="round" color="primary" size="large" id="context-menu-trigger-homeCourt{{i}}" (click)="removeFromHomeCourt(player)">
                {{player.number}}
              </ion-button>        
              <ion-popover trigger="context-menu-trigger-homeCourt{{i}}" triggerAction="context-menu" side="top" alignment="start">
                <ng-template>
                  <ion-content color="primary" class="ion-padding">
                    Name: {{player.firstName}} {{player.lastName}}<br>
                    Number: {{player.number}}
                    <div style="display: flex; float: right;"> 
                      <ion-button color="light" size="small" shape="round" fill="clear" class="no-drag">
                        <ion-icon slot="icon-only" name="pencil-sharp"></ion-icon>
                      </ion-button>
                    </div>
                  </ion-content>
                </ng-template>
              </ion-popover>
            </span>           
          </div>
          <div  class="home-font" id="home-team-container" class="team-container">
            <h2  class="home-font" id="school-title">{{ currentGame.homeTeam}}</h2>
            <p class="team-score digital-number; home-font">{{ homeTeamScore }}</p>
            <p class="home-font">Fouls: {{ homeTeamFouls }} | Steals: {{ homeTeamSteals }} | Timeouts left: {{ homeTeamTOL }}</p>
            <div class="row-fluid">
              <ion-button color="primary" class="number-button" (click)="addPoints('home', 1)">+1</ion-button>
              <ion-button color="primary" class="number-button" (click)="addPoints('home', 2)">+2</ion-button>
              <ion-button color="primary" class="number-button" (click)="addPoints('home', 3)">+3</ion-button>  
            </div>
            <div class="row-fluid">
              <ion-button color="primary" class="other-button">1</ion-button>
              <ion-button color="primary" class="other-button">3</ion-button>
              <ion-button color="primary" class="other-button">MISS</ion-button>
            </div>
            <div class="row-fluid">
              <ion-button color="primary" class="other-button" (click)="addFoul('home')">FOUL</ion-button>
              <ion-button color="primary" class="other-button" (click)="addSteal('home')">STL</ion-button>
              <ion-button color="primary" class="other-button" (click)="useTimeout('home', 30)">30s</ion-button>
              <ion-button color="primary" class="other-button" (click)="useTimeout('home', 60)">60s</ion-button>  
            </div>
            <div class="row-fluid">
              <ion-button color="primary" class="small-button">AST</ion-button>
              <ion-button color="primary" class="small-button">PB+</ion-button>
              <ion-button color="primary" class="small-button">PB-</ion-button>
              <ion-button color="primary" class="small-button">BLK</ion-button>
              <ion-button color="primary" class="small-button">OR</ion-button>
              <ion-button color="primary" class="small-button">DR</ion-button>
            </div>
          </div>
        </div>

          <!--Court(?)-->
          <div class="column">
            <div class="game-info">
              <ion-label color="medium">Period: {{ period }}</ion-label>
              <ion-button color="medium" fill="clear" size="small" class="no-drag" (click)="nextPeriod()">
                <ion-icon slot="icon-only" name="chevron-forward-sharp"></ion-icon>
              </ion-button>
            </div>
            <div class="top-width">
              <ion-button size="default" color="medium" class="no-drag">
                <ion-icon slot="icon-only" name="stats-chart-sharp"></ion-icon>
              </ion-button>
              <ion-button size="default" color="medium" class="no-drag">
                <ion-icon slot="icon-only" name="settings-sharp"></ion-icon>
              </ion-button>
              <ion-button size="default" color="medium" class="no-drag">
                <ion-icon slot="icon-only" name="calendar-sharp"></ion-icon>
              </ion-button>
            </div>
            <div class="team-container">
              <img src="assets/images/sad_cat.jpg">
            </div>
          </div>

        <!-- Guest Team -->
        <div class="column">
          <div class="court-container" id="away-court-container">
            <span class="home-font" id="team-numbers" *ngFor="let player of awayTeamPlayersOnCourt; let i = index">
              <ion-button fill="clear" shape="round" color="danger" size="large" id="context-menu-trigger-awayCourt{{i}}" (click)="removeFromAwayCourt(player)">
                {{player.number}}
              </ion-button>   
              <ion-popover trigger="context-menu-trigger-awayCourt{{i}}" triggerAction="context-menu" side="top" alignment="start">
                <ng-template>
                  <ion-content color="danger" class="ion-padding">
                    Name: {{player.firstName}} {{player.lastName}}<br>
                    Number: {{player.number}}
                    <div style="display: flex; float: right;"> 
                      <ion-button color="light" size="small" shape="round" fill="clear" class="no-drag">
                        <ion-icon slot="icon-only" name="pencil-sharp"></ion-icon>
                      </ion-button>
                    </div>
                  </ion-content>
                </ng-template>
              </ion-popover>     
            </span> 
          </div>
          <div id="away-team-container" class="team-container">
          <h2 class="away-font" id="school-title">{{currentGame.awayTeam}}</h2>
          <p class="team-score digital-number; away-font">{{ awayTeamScore }}</p>
          <p class="away-font">Fouls: {{ awayTeamFouls }} | Steals: {{ awayTeamSteals }} | Timeouts left: {{ awayTeamTOL }}</p>
          <div class="row-fluid">
            <ion-button color="danger" class="number-button" (click)="addPoints('away', 1)">+1</ion-button>
            <ion-button color="danger" class="number-button" (click)="addPoints('away', 2)">+2</ion-button>
            <ion-button color="danger" class="number-button" (click)="addPoints('away', 3)">+3</ion-button>
          </div>
          <div class="row-fluid">
            <ion-button color="danger" class="other-button">1</ion-button>
            <ion-button color="danger" class="other-button">3</ion-button>
            <ion-button color="danger" class="other-button">MISS</ion-button>
          </div>
          <div class="row-fluid">
            <ion-button color="danger" class="other-button" (click)="addFoul('away')">FOUL</ion-button>
            <ion-button color="danger" class="other-button" (click)="addSteal('away')">STL</ion-button>
            <ion-button color="danger" class="other-button" (click)="useTimeout('away', 30)">30s</ion-button>
            <ion-button color="danger" class="other-button" (click)="useTimeout('away', 60)">60s</ion-button>
          </div>
          <div class="row-fluid">
            <ion-button color="danger" class="small-button">AST</ion-button>
            <ion-button color="danger" class="small-button">PB+</ion-button>
            <ion-button color="danger" class="small-button">PB-</ion-button>
            <ion-button color="danger" class="small-button">BLK</ion-button>
            <ion-button color="danger" class="small-button">OR</ion-button>
            <ion-button color="danger" class="small-button">DR</ion-button>
          </div>
        </div>
      </div>
      </ng-container>
      <div class="players-container" id="away-players-container">
        <div class="away-font" id="team-numbers" *ngFor="let player of awayTeamPlayers; let i = index">
          <ion-button fill="clear" size="default" color="danger" id="context-menu-trigger-away{{i}}" (click)="addToAwayCourt(player)">
            {{player.number}}
          </ion-button>
          <ion-popover trigger="context-menu-trigger-away{{i}}" triggerAction="context-menu" side="left" alignment="start">
            <ng-template>
              <ion-content color="danger" class="ion-padding">
                Name: {{player.firstName}} {{player.lastName}}<br>
                Number: {{player.number}}
                <div style="display: flex; float: right;"> 
                  <ion-button color="light" size="small" shape="round" fill="clear" class="no-drag">
                    <ion-icon slot="icon-only" name="pencil-sharp"></ion-icon>
                  </ion-button>
                </div>
              </ion-content>
            </ng-template>
          </ion-popover>
        </div>
      </div>
    </div>
      <div class="bottom-button-container">
        <div class="small-number-container">
          <span id="default-color" *ngFor="let number of newPlayerNumber">
            {{number}}
          </span>
        </div>
        <ng-container *ngIf="currentGame$ | async as currentGame">
          <ion-button color="medium" class="bottom-number-button" [disabled]="newPlayerNumber.length == 0" (click)="clearNumberInput()">Undo</ion-button>
          <ion-button color="medium" class="bottom-number-button" (click)="inputNumber(0)">0</ion-button>
          <ion-button color="medium" class="bottom-number-button" (click)="inputNumber(1)">1</ion-button>
          <ion-button color="medium" class="bottom-number-button" (click)="inputNumber(2)">2</ion-button>
          <ion-button color="medium" class="bottom-number-button" (click)="inputNumber(3)">3</ion-button>
          <ion-button color="medium" class="bottom-number-button" (click)="inputNumber(4)">4</ion-button>
          <ion-button color="medium" class="bottom-number-button" (click)="inputNumber(5)">5</ion-button>
          <ion-button color="medium" class="bottom-number-button" (click)="inputNumber(6)">6</ion-button>
          <ion-button color="medium" class="bottom-number-button" (click)="inputNumber(7)">7</ion-button>
          <ion-button color="medium" class="bottom-number-button" (click)="inputNumber(8)">8</ion-button>
          <ion-button color="medium" class="bottom-number-button" (click)="inputNumber(9)">9</ion-button>
          <ion-button color="primary" class="bottom-number-button" [disabled]="newPlayerNumber.length == 0" (click)="addToHomeTeam(currentGame.homeTeam)">
            Home
          </ion-button>
          <ion-button color="danger" class="bottom-number-button" [disabled]="newPlayerNumber.length == 0" (click)="addToAwayTeam(currentGame.awayTeam)">
            Away
          </ion-button>
        </ng-container>

      </div>
      <div class="second-bottom-button-container">
        <ion-button color="medium" class="normal-button" (click)="startStopTimer(true)">End</ion-button>
        <ion-button color="medium" class="normal-button" (click)="startStopTimer(false)">Start</ion-button>
        <ion-button color="medium" class="normal-button" (click)="resetGame()">Clear</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
