  .small-number-container {
    display: flex;
    text-align: center;
    width: 5.5rem;
    height: 2rem;
    border-radius: 5px;
    font-size: 14px;
    color: grey;
    align-items: center;
    justify-content: center;
    border: 2px solid grey;
    font-weight: bold;
  }

  .scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
  }

  .team-container {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 0 10px;
    border-radius: 10px;
  }

  .players-container {
    display: inline-block;
    text-align: center;
    width: auto;
    height: 375px;
    padding: 5px;
    overflow-y: auto;
		overflow-x: hidden;
  }

  .players-container::-webkit-scrollbar {
    display: none;
  }

  .top-width {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
  }

  .court-container {
    text-align: center;
    width: 350px;
    height: 67px;
    border-radius: 10px;
    margin: 10px;
    font-weight: bold;
    align-items: center;
  }

  #home-court-container {
    border: 2px solid #4416fc;
    background-color: #dbd4fa;
  }

  #away-court-container {
    border: 2px solid #fc1616;
    background-color: #fec3c3;
  }

  #default-color {
    color: grey;
  }

  #players-text {
    text-align: center;
  }

  #home-team-container {
    border: 2px solid #4416fc;
  }

  #away-team-container {
    border: 2px solid #fc1616;
  }

  #court-container {
    border: 2px solid grey;
  }

  h2 {
    margin-bottom: 15px;
    color: black;
  }

  #school-title {
    font-weight: bold;
    font-size: 25px;
  }

  .team-score {
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 5px;
  }

  .digital-number {
    font-family: 'Digital-7', monospace;
  }

  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
  }

  .game-info {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
  }

  ion-card-content {
    position: relative;
  }

  .timer-reset-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
  }

  .reset-button {
    position: absolute;
    bottom: 1em;
    right: 1em;
  }

  .bottom-button-container {
    padding-top: .5rem;
    width: 76%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: auto;
  }

  .second-bottom-button-container {
    padding-top: .5rem;
    vertical-align: middle;
    width: 45%;
    justify-content: space-between;
    display: flex;
    margin: auto;
  }

  .timer-style {
    align-self: center;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: gray;
  }

  button {
    text-align: center;
    color: white;
    padding: 10px;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    transition: all 1s;
  }

  .number-button {
    width: 3.5rem;
    height: 2.5rem;
    font-size: 18px;
    font-weight: bolder;
    transition: all 1s;
  }

  .other-button {
    font-size: 14px;
    font-weight: bold;
    width: 3rem;
    height: 2rem;
    transition: all 1s;
  }

  .bottom-number-button {
    font-size: 14px;
    font-weight: bold;
    width: 4.5rem;
    height: 2rem;
  }

  .small-button {
    font-size: 10px;
    font-weight: bold;
    width: 2.5rem;
    height: 1.5rem;
    transition: all 1s;
  }

  .icon-button {
    font-weight: bold;
    width: 2.8rem;
    height: 2.8rem;
  }

  ion-icon {
    font-size: 18px;
    opacity: 1;
  }

  .period-button {
    height: auto;
    width: 2.8rem;
  }

  .normal-button {
    font-weight: bold;
    font-size: 22px;
    width: 11rem;
    height: 2.5rem;
    border-radius: 10x;
  }

  .home-font {
    color: #4416fc;
  }

  .away-font {
    color: #fc1616;
  }

  #team-numbers {
    font-size: 20px;
  }

  #home-button {
    background-color: #4416fc;
  }

  #away-button {
    background-color: #fc1616;
  }

  p {
    font-size: 16px;
  }

  #start-timer {
    font-size: 30px;
    font-weight: 400;
  }
