<ion-header>
  <ion-toolbar>
    <ion-title>Stats Guru</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-toolbar class="button-toolbar" color="white">
    <ion-buttons slot="end">
      <ion-button slot="fixed" (click)="navigateToAddGame()" > Add Game </ion-button>
    </ion-buttons>
  </ion-toolbar>

  
<ng-container *ngIf="games$">
  <ion-card *ngFor="let item of games$ | async" (click)="navigateToGamecast(item.gameId)">
    <ion-card-header>
      <ion-card-title>{{item.homeTeam}} - {{item.awayTeam}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{item.gameDate | date: "long"}}</p>
    </ion-card-content>
  </ion-card>
</ng-container>