<ion-header>
	<ion-toolbar>
		<ion-title>Settings</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="dismiss.emit()">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content *ngIf="gamecastDetails" color="light">
	<ion-grid>
	  <ion-row>
		<ion-col size="1" size-lg="2"></ion-col>
		<ion-col size="10" size-lg="8">
		  <ion-input
			fill="outline"
			label="Full Timeouts"
			class="ion-margin-vertical"
			type="number"
			[(ngModel)]="gamecastDetails.fullTimeouts"
		  ></ion-input>
		  <ion-input
			fill="outline"
			label="Partial Timeouts"
			class="ion-margin-vertical"
			[(ngModel)]="gamecastDetails.partialTimeouts"
			type="number"
		  ></ion-input>
		  <ion-input
			fill="outline"
			label="Periods/Game"
			class="ion-margin-vertical"
			[(ngModel)]="gamecastDetails.periodsPerGame"
			type="number"
		  ></ion-input>
		  <ion-input
			fill="outline"
			label="Minutes/Period"
			class="ion-margin-vertical"
			[(ngModel)]="gamecastDetails.minutesPerPeriod"
			type="number"
		  ></ion-input>
		  <ion-input
			fill="outline"
			label="Minutes/Overtime"
			class="ion-margin-vertical"
			[(ngModel)]="gamecastDetails.minutesPerOvertime"
			type="number"
		  ></ion-input>
		  <ion-input
			fill="outline"
			label="Reset Timeouts"
			class="ion-margin-vertical"
			[(ngModel)]="gamecastDetails.resetTimeoutsEveryPeriod"
		  ></ion-input>
		  <ion-button expand="block" (click)="save()">Save</ion-button>
		</ion-col>
		<ion-col size="1" size-lg="2"></ion-col>
	  </ion-row>
	</ion-grid>
  </ion-content>
