<ion-content *ngIf="gamecastDetails" class="ion-padding" color="light">
	<ion-input
	  fill="outline"
	  label="Full Timeouts"
	  class="ion-margin-vertical"
	  type="number"
	  [(ngModel)]="gamecastDetails.fullTimeouts"
	></ion-input>
	<ion-input
	  fill="outline"
	  label="Partial Timeouts"
	  class="ion-margin-vertical"
	  [(ngModel)]="gamecastDetails.partialTimeouts"
	  type="number"
	></ion-input>
	<ion-input
	  fill="outline"
	  label="Periods/Game"
	  class="ion-margin-vertical"
	  [(ngModel)]="gamecastDetails.periodsPerGame"
	  type="number"
	></ion-input>
	<ion-input
	  fill="outline"
	  label="Minutes/Period"
	  class="ion-margin-vertical"
	  [(ngModel)]="gamecastDetails.minutesPerPeriod"
	  type="number"
	></ion-input>
	<ion-input
	  fill="outline"
	  label="Minutes/Overtime"
	  class="ion-margin-vertical"
	  [(ngModel)]="gamecastDetails.minutesPerOvertime"
	  type="number"
	></ion-input>
	<ion-item lines="none" color="light" fill="outline" class="ion-margin-vertical">
		<ion-checkbox (ionChange)="setCheckbox($event)" [checked]="gamecastDetails.resetTimeoutsEveryPeriod == '1'">
			Reset TOs/Period
		</ion-checkbox>
	</ion-item>
	<ion-button expand="block" (click)="save()">Save</ion-button>
  </ion-content>
