.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-grid {
  display: inline-grid;
}

.team-container {
  display: flex;
  align-items: center;
}

.versus {
  margin-right: 10px;
}

.funnel-icon {
  margin-right: 15px;
}

.game-card {
  width: 300%;
  max-width: 500px;
}

.team-logo {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}