<app-header>
	<ion-toolbar mode="md" color="primary">
		<ion-breadcrumbs>
			<ion-breadcrumb>Games</ion-breadcrumb>
		</ion-breadcrumbs>
		<ion-buttons slot="end">
			<ion-button id="addPopoverButton">
				<ion-icon slot="icon-only" name="add"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</app-header>

<ion-content color="light">
	<ag-grid-angular
		class="ag-theme-alpine"
		style="width: 100%; height: 100%;"
		[columnDefs]="gameStats"
		[defaultColDef]="{sortable: true, filter: true, editable: true}"
		[rowData]="common.homePageGames()"
		[rowSelection]="'single'"
		[pagination]="false"
		[suppressCellFocus]="true"
		(rowClicked)="routeToPage($event)">
	</ag-grid-angular>
</ion-content>

<ion-modal trigger="addPopoverButton" #addModal>
	<ng-template>
		<app-add-games (dismiss)="addModal.dismiss()"/>
	</ng-template>
</ion-modal>
