@if (player(); as player) {
	<ion-content class="ion-padding">
		<ion-input
			[(ngModel)]="player.first_name"
			labelPlacement="stacked"
			label="First Name"
			fill="outline"
			[readonly]="!editPlayer"
		></ion-input>
		<ion-input
			[(ngModel)]="player.last_name"
			fill="outline"
			labelPlacement="stacked"
			label="Last Name"
			[readonly]="!editPlayer"
		></ion-input>
		<ion-input
			[(ngModel)]="player.number"
			fill="outline"
			labelPlacement="stacked"
			label="Number"
			[readonly]="!editPlayer"
		></ion-input>
		<ion-input
			type="text"
			fill="outline"
			labelPlacement="stacked"
			label="Temporary Number"
			[value]="stat()?.player_number"
			[readonly]="!editPlayer"
			#temporaryNum
		></ion-input>
		@if (editPlayer) {
			<ion-button color="tertiary" class="ion-float-right" fill="clear" (click)="this.updateTemporaryPlayerNumber(player, temporaryNum.value); savePlayer.emit(); editPlayer = false;">
				<ion-icon size="large" slot="icon-only" name="checkmark"></ion-icon>
			</ion-button>
		} @else {
			<ion-button color="tertiary" class="ion-float-right" fill="clear" (click)="editPlayer = true;">
				<ion-icon size="large" slot="icon-only" name="pencil"></ion-icon>
			</ion-button>
		}
	</ion-content>
}
