<ion-header>
    <ion-toolbar>
      <ion-title>Stats Guru</ion-title>
    </ion-toolbar>
  </ion-header>
  


  <ion-content>
    <ion-toolbar color="white">
      <ion-breadcrumbs>
        <ion-breadcrumb href="/">Home</ion-breadcrumb>
        <ion-breadcrumb href="/gamecast/{{ gameId }}">Gamecast</ion-breadcrumb>
        <ion-breadcrumb>GameId: {{ gameId }}</ion-breadcrumb>
      </ion-breadcrumbs>
    </ion-toolbar>


    <ion-card>
      <ion-card-header>
        <ion-card-title>Game ID: {{ gameId }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
  </ion-content>