<ion-header *ngIf="isWin" mode="ios" class="ion-no-border">
    <ion-toolbar data-tauri-drag-region class="drag" color="tertiary">
      <ion-buttons slot="start" *ngIf="showPopover">
        <ion-button class="no-drag" id="click-trigger">
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title data-tauri-drag-region class="no-select">Stats Guru</ion-title>
      <ion-buttons slot="end" class="no-drag">
		<ion-button class="syncing" *ngIf="sync.syncing">
		  {{ sync.syncingMessage }}
		  <ion-icon slot="end" name="sync"></ion-icon>
		</ion-button>
        <ion-button (click)="minimize()" class="hover">
          <ion-icon slot="icon-only" name="remove"></ion-icon>
        </ion-button>
        <ion-button (click)="maximize()" class="hover">
          <ion-icon slot="icon-only" name="square-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="close()" class="hover-danger">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ng-container [ngTemplateOutlet]="template"></ng-container>
</ion-header>

<ion-header mode="ios" *ngIf="!isWin" class="drag">
  <ion-toolbar data-tauri-drag-region color="tertiary">
    <ion-buttons slot="end" *ngIf="showPopover">
      <ion-button class="syncing" *ngIf="sync.syncing">
		{{ sync.syncingMessage }}
        <ion-icon slot="end" name="sync"></ion-icon>
      </ion-button>
      <ion-button class="no-drag" id="click-trigger">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title data-tauri-drag-region class="no-select">Stats Guru</ion-title>
  </ion-toolbar>
  <ng-container [ngTemplateOutlet]="template"></ng-container>
</ion-header>

<ion-popover *ngIf="showPopover" trigger="click-trigger" [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-list lines="full">
        <ion-list-header>
          <ion-label>
            <h2>{{user?.email}}</h2>
          </ion-label>
        </ion-list-header>
        <ion-item button="true" href="https://dbm.thegrindsession.com" target="_blank" detail="false">DBM</ion-item>
        <ion-item button="true" (click)="modalOpen = true" detail="false">Sync</ion-item>
        <ion-item button="true" detail="false" (click)="navigateToLogin()">Log Out</ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>

<ion-modal [backdropDismiss]="false" [isOpen]="modalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar color="medium">
        <ion-title>Sync</ion-title>
        <ion-buttons slot="end">
			<p style="margin-right: 10px">{{ sync.timeRemaining | date:'mm:ss' }}</p>
			<ion-button (click)="startSync()">
				<ion-icon slot="icon-only" name="sync-sharp"></ion-icon>
			</ion-button>
          <ion-button (click)="modalOpen = false">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
	<ion-content [scrollY]="false">
		<ag-grid-angular
			class="ag-theme-alpine"
			style="width: 100%; height: 100%;"
			[columnDefs]="syncData"
			[defaultColDef]="{sortable: true, filter: true, editable: false}"
			[rowData]="syncHistory"
			[rowSelection]="'single'"
			[pagination]="true"
			[suppressCellFocus]="true">
		</ag-grid-angular>
	</ion-content>
    </ion-content>
  </ng-template>
</ion-modal>

<ng-template #template>
	<ng-content></ng-content>
</ng-template>
