<ion-header *ngIf="isWin" class="drag">
  <ion-toolbar color="primary">
    <ion-title class="no-select">Stats Guru</ion-title>
    <ion-buttons slot="end" class="no-drag">
      <ion-button (click)="minimize()" class="hover">
        <ion-icon slot="icon-only" name="remove"></ion-icon>
      </ion-button>
      <ion-button (click)="maximize()" class="hover">
        <ion-icon slot="icon-only" name="square-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="close()" class="hover-danger">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="!isWin" mode="ios" class="drag">
  <ion-toolbar color="primary">
    <ion-title class="no-select">Stats Guru</ion-title>
  </ion-toolbar>
</ion-header>
