<ion-header mode="md" [hidden]="routeContains('live')">
    <ion-title side="start">StatsGuru - Grind Session</ion-title>  
</ion-header>


<ion-content>
    <div id="container">
      <strong>This is an application for Tanager Sports and United Systems</strong>
      <p>You can login below using a @tanagersports, @tanagerproductions, or @united-systems email account.</p>
      <ion-button fill="outline" (click)="login()">
        <span *ngIf="!loading">Microsoft Login</span>
        <ion-spinner name="dots" *ngIf="loading"></ion-spinner>
      </ion-button>
    </div>
  </ion-content>
  