/* Ionic Variables and Theming. */
/* This is just a placeholder file For more info, please see: */
/* https://ionicframework.com/docs/theming/basics */

:root {
	--ion-color-primary: #4416fc;
	--ion-color-primary-rgb: 9,138,0;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #5e2cf3;
	--ion-color-primary-tint: #3e2bec;

	--ion-color-secondary: #accda8;
	--ion-color-secondary-rgb: 172,205,168;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #97b494;
	--ion-color-secondary-tint: #b4d2b1;

	--ion-color-tertiary: #333333;
	--ion-color-tertiary-rgb: 51,51,51;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #2d2d2d;
	--ion-color-tertiary-tint: #474747;

	--ion-color-success: #2dd36f;
	--ion-color-success-rgb: 45,211,111;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28ba62;
	--ion-color-success-tint: #42d77d;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #e41531;
	--ion-color-danger-rgb: 235,68,90;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #c22e42;
	--ion-color-danger-tint: #ed435a;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #fff;
	--ion-color-medium-contrast-rgb: 255, 255, 255;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;

	--ion-color-dark: #34414B;
	--ion-color-dark-rgb: 52, 65, 75;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255, 255, 255;
	--ion-color-dark-shade: #2e3942;
	--ion-color-dark-tint: #48545d;

	/*Custom colors...*/
	--ion-color-pink: #ff3ecf;
	--ion-color-pink-rgb: 255,62,207;
	--ion-color-pink-contrast: #ffffff;
	--ion-color-pink-contrast-rgb: 255,255,255;
	--ion-color-pink-shade: #e037b6;
	--ion-color-pink-tint: #ff51d4;

	--ion-color-purple: #a93adc;
	--ion-color-purple-rgb: 169,58,220;
	--ion-color-purple-contrast: #ffffff;
	--ion-color-purple-contrast-rgb: 255,255,255;
	--ion-color-purple-shade: #9533c2;
	--ion-color-purple-tint: #b24ee0;

	--ion-color-orange: #f77d27;
	--ion-color-orange-rgb: 247,125,39;
	--ion-color-orange-contrast: #000000;
	--ion-color-orange-contrast-rgb: 0,0,0;
	--ion-color-orange-shade: #d96e22;
	--ion-color-orange-tint: #f88a3d;

	--ion-color-teal: #28b3b0;
	--ion-color-teal-rgb: 47,244,241;
	--ion-color-teal-contrast: #ffffff;
	--ion-color-teal-contrast-rgb: 255, 255, 255;
	--ion-color-teal-shade: #19817f;
	--ion-color-teal-tint: #22f1ee;

	--ion-color-green: #31dd53;
	--ion-color-green-rgb: 49,221,83;
	--ion-color-green-contrast: #ffffff;
	--ion-color-green-contrast-rgb: 255,255,255;
	--ion-color-green-shade: #2bc249;
	--ion-color-green-tint: #46e064;

	--ion-color-grey: #595a5f;
	--ion-color-grey-rgb: 89,90,95;
	--ion-color-grey-contrast: #ffffff;
	--ion-color-grey-contrast-rgb: 255,255,255;
	--ion-color-grey-shade: #4e4f54;
	--ion-color-grey-tint: #6a6b6f;

	--ion-color-navy: #112797;
	--ion-color-navy-rgb: 17,39,151;
	--ion-color-navy-contrast: #ffffff;
	--ion-color-navy-contrast-rgb: 255,255,255;
	--ion-color-navy-shade: #0f2285;
	--ion-color-navy-tint: #293da1;

	--ion-color-coral: #f05181;
	--ion-color-coral-rgb: 240,81,129;
	--ion-color-coral-contrast: #ffffff;
	--ion-color-coral-contrast-rgb: 255,255,255;
	--ion-color-coral-shade: #d34772;
	--ion-color-coral-tint: #f2628e;

	--ion-color-red: #e10e0e;
	--ion-color-red-rgb: 225,14,14;
	--ion-color-red-contrast: #ffffff;
	--ion-color-red-contrast-rgb: 255,255,255;
	--ion-color-red-shade: #c60c0c;
	--ion-color-red-tint: #e42626;

	--ion-color-blue: #2d4ffb;
	--ion-color-blue-rgb: 45,79,251;
	--ion-color-blue-contrast: #ffffff;
	--ion-color-blue-contrast-rgb: 255,255,255;
	--ion-color-blue-shade: #2846dd;
	--ion-color-blue-tint: #4261fb;

	--ion-color-lilac: #b88dcc;
	--ion-color-lilac-rgb: 213,169,234;
	--ion-color-lilac-contrast: #ffffff;
	--ion-color-lilac-contrast-rgb: 255, 255, 255;
	--ion-color-lilac-shade: #7b6288;
	--ion-color-lilac-tint: #d9b2ec;

	--ion-color-gold: #e4d204;
	--ion-color-gold-rgb: 244,228,52;
	--ion-color-gold-contrast: #000000;
	--ion-color-gold-contrast-rgb: 0,0,0;
	--ion-color-gold-shade: #b8ab20;
	--ion-color-gold-tint: #f5e748;

}
