<ion-header>
  <ion-toolbar>
    <ion-title>Stats Guru</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="test()">sync</ion-button>
  <ion-button (click)="initCommon()" [disabled]="games$">Initialize Common</ion-button>
  <ion-list *ngIf="games$" lines="full">
    <ion-item *ngFor="let item of games$ | async">
      <ion-label>
        <h3>{{item.homeTeam}} - {{item.awayTeam}}</h3>
        <p>{{item.gameDate | date: "long"}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
