<ion-header>
  <ion-toolbar color="primary">
    <ion-breadcrumbs>
      <ion-breadcrumb routerLink="/home/games">Games</ion-breadcrumb>
      <ion-breadcrumb>Add Game</ion-breadcrumb>
    </ion-breadcrumbs>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col size="1" size-lg="2"></ion-col>
      <ion-col size="10" size-lg="8">
		<ion-select class="ion-margin-vertical" label="Gender" labelPlacement="floating" fill="outline" interface="popover" [(ngModel)]="isMale">
			<ion-select-option [value]="1">Male</ion-select-option>
			<ion-select-option [value]="0">Female</ion-select-option>
		</ion-select>
		<ion-select class="ion-margin-vertical" label="Home Team" fill="outline" labelPlacement="floating" interface="popover" [(ngModel)]="homeTeam">
			<ion-select-option *ngFor="let team of teams" [hidden]="team.isMale != isMale">{{team.name}}</ion-select-option>
		</ion-select>
		<ion-select class="ion-margin-vertical" label="Away Team" labelPlacement="floating" fill="outline" interface="popover" [(ngModel)]="awayTeam">
			<ion-select-option *ngFor="let team of teams" [hidden]="team.isMale != isMale">{{team.name}}</ion-select-option>
		</ion-select>
		<ion-select class="ion-margin-vertical" label="Event" labelPlacement="floating" fill="outline" interface="popover" [(ngModel)]="event">
			<ion-select-option [value]="null">None</ion-select-option>
			<ion-select-option [value]="event.eventId" *ngFor="let event of events">{{event.title}}</ion-select-option>
		</ion-select>
		<ion-input
			class="ion-margin-vertical"
			(ionChange)="updateDate($event)"
			fill="outline"
			label="Game Date"
			labelPlacement="floating"
			type="datetime-local"
			[value]="date"
		></ion-input>
        <ion-button expand="block" (click)="addGame()">Save</ion-button>
      </ion-col>
      <ion-col size="1" size-lg="2"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

