<ion-header>
	<ion-toolbar [color]="color">
		<ion-title>Roster</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="dismiss.emit()">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
	<ion-toolbar>
		<ion-segment [color]="color" mode="md" [(ngModel)]="tab">
			<ion-segment-button value="add">Add</ion-segment-button>
			<ion-segment-button value="hide">Hide</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">
	<ion-grid>
		<ion-row>
			<ion-col size="1"></ion-col>
			<ion-col size="10">
				@if (tab == 'add') {
					<ion-input
						[(ngModel)]="newPlayerNumber"
						type="number"
						label="Player Number"
						labelPlacement="stacked"
						fill="outline"
					></ion-input>
					<ion-input
						[(ngModel)]="newPlayerFirstName"
						label="First Name"
						labelPlacement="stacked"
						fill="outline"
					></ion-input>
					<ion-input
						[(ngModel)]="newPlayerLastName"
						label="Last Name"
						labelPlacement="stacked"
						fill="outline"
					></ion-input>
					<ion-button color="tertiary" expand="true" (click)="addToTeam()" [disabled]="!newPlayerFirstName || !newPlayerLastName">Submit</ion-button>
				} @else {
					<ion-list>
						@for (map of mapping; track map.player.id) {
							@if (map.player.teamId == teamId) {
								<ion-item>
									<ion-thumbnail slot="start">
										@if (map.player.picture) {
											<img [src]="map.player.picture">
										} @else {
											<img src="assets/default.png">
										}
									</ion-thumbnail>
									<ion-label>{{map.player.number}} {{map.player.firstName}} {{map.player.lastName}}</ion-label>
									<ion-button color="tertiary" slot="end" fill="clear" (click)="playerHiddenChanged.emit(map.player)">
										{{ (map.stat?.playerHidden || false) ? 'Unhide' : 'Hide' }}
									</ion-button>
								</ion-item>
							}
						}
					</ion-list>
				}
			</ion-col>
			<ion-col size="1"></ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
