:root {
	--ion-color-primary: #4416fc !important;
	--ion-color-primary-rgb: 9, 138, 0 !important;
	--ion-color-primary-contrast: #ffffff !important;
	--ion-color-primary-contrast-rgb: 255, 255, 255 !important;
	--ion-color-primary-shade: #5e2cf3 !important;
	--ion-color-primary-tint: #3e2bec !important;

	--ion-color-secondary: #accda8 !important;
	--ion-color-secondary-rgb: 172, 205, 168 !important;
	--ion-color-secondary-contrast: #000000 !important;
	--ion-color-secondary-contrast-rgb: 0, 0, 0 !important;
	--ion-color-secondary-shade: #97b494 !important;
	--ion-color-secondary-tint: #b4d2b1 !important;

	--ion-color-tertiary: #333333 !important;
	--ion-color-tertiary-rgb: 51, 51, 51 !important;
	--ion-color-tertiary-contrast: #ffffff !important;
	--ion-color-tertiary-contrast-rgb: 255, 255, 255 !important;
	--ion-color-tertiary-shade: #2d2d2d !important;
	--ion-color-tertiary-tint: #474747 !important;

	/* Custom colors */
	--ion-color-pink: #ff3ecf;
	--ion-color-pink-rgb: 255, 62, 207;
	--ion-color-pink-contrast: #ffffff;
	--ion-color-pink-contrast-rgb: 255, 255, 255;
	--ion-color-pink-shade: #e037b6;
	--ion-color-pink-tint: #ff51d4;

	--ion-color-purple: #a93adc;
	--ion-color-purple-rgb: 169, 58, 220;
	--ion-color-purple-contrast: #ffffff;
	--ion-color-purple-contrast-rgb: 255, 255, 255;
	--ion-color-purple-shade: #9533c2;
	--ion-color-purple-tint: #b24ee0;

	--ion-color-orange: #f77d27;
	--ion-color-orange-rgb: 247, 125, 39;
	--ion-color-orange-contrast: #000000;
	--ion-color-orange-contrast-rgb: 0, 0, 0;
	--ion-color-orange-shade: #d96e22;
	--ion-color-orange-tint: #f88a3d;

	--ion-color-teal: #28b3b0;
	--ion-color-teal-rgb: 47, 244, 241;
	--ion-color-teal-contrast: #ffffff;
	--ion-color-teal-contrast-rgb: 255, 255, 255;
	--ion-color-teal-shade: #19817f;
	--ion-color-teal-tint: #22f1ee;

	--ion-color-green: #31dd53;
	--ion-color-green-rgb: 49, 221, 83;
	--ion-color-green-contrast: #ffffff;
	--ion-color-green-contrast-rgb: 255, 255, 255;
	--ion-color-green-shade: #2bc249;
	--ion-color-green-tint: #46e064;

	--ion-color-grey: #595a5f;
	--ion-color-grey-rgb: 89, 90, 95;
	--ion-color-grey-contrast: #ffffff;
	--ion-color-grey-contrast-rgb: 255, 255, 255;
	--ion-color-grey-shade: #4e4f54;
	--ion-color-grey-tint: #6a6b6f;

	--ion-color-navy: #112797;
	--ion-color-navy-rgb: 17, 39, 151;
	--ion-color-navy-contrast: #ffffff;
	--ion-color-navy-contrast-rgb: 255, 255, 255;
	--ion-color-navy-shade: #0f2285;
	--ion-color-navy-tint: #293da1;

	--ion-color-coral: #f05181;
	--ion-color-coral-rgb: 240, 81, 129;
	--ion-color-coral-contrast: #ffffff;
	--ion-color-coral-contrast-rgb: 255, 255, 255;
	--ion-color-coral-shade: #d34772;
	--ion-color-coral-tint: #f2628e;

	--ion-color-red: #e10e0e;
	--ion-color-red-rgb: 225, 14, 14;
	--ion-color-red-contrast: #ffffff;
	--ion-color-red-contrast-rgb: 255, 255, 255;
	--ion-color-red-shade: #c60c0c;
	--ion-color-red-tint: #e42626;

	--ion-color-blue: #2d4ffb;
	--ion-color-blue-rgb: 45, 79, 251;
	--ion-color-blue-contrast: #ffffff;
	--ion-color-blue-contrast-rgb: 255, 255, 255;
	--ion-color-blue-shade: #2846dd;
	--ion-color-blue-tint: #4261fb;

	--ion-color-lilac: #b88dcc;
	--ion-color-lilac-rgb: 213, 169, 234;
	--ion-color-lilac-contrast: #ffffff;
	--ion-color-lilac-contrast-rgb: 255, 255, 255;
	--ion-color-lilac-shade: #7b6288;
	--ion-color-lilac-tint: #d9b2ec;

	--ion-color-gold: #e4d204;
	--ion-color-gold-rgb: 244, 228, 52;
	--ion-color-gold-contrast: #000000;
	--ion-color-gold-contrast-rgb: 0, 0, 0;
	--ion-color-gold-shade: #b8ab20;
	--ion-color-gold-tint: #f5e748;
}

ion-modal {
	--width: 90%;
	--height: 90%;
	--border-radius: 6px;
}

[hidden] {
	display: none !important;
}

ion-popover.scrollable {
	--max-height: 400px;
	overflow-y: scroll;
}

.page {
	height: 100%;
	display: flex;
	flex-direction: column;
}

/*Custom colors*/
.ion-color-pink {
	--ion-color-base: var(--ion-color-pink) !important;
	--ion-color-base-rgb: var(--ion-color-pink-rgb) !important;
	--ion-color-contrast: var(--ion-color-pink-contrast) !important;
	--ion-color-contrast-rgb: var(--ion-color-pink-contrast-rgb) !important;
	--ion-color-shade: var(--ion-color-pink-shade) !important;
	--ion-color-tint: var(--ion-color-pink-tint) !important;
}

.ion-color-missed {
	--ion-color-base: #d79d9b !important;
	--ion-color-base-rgb: #d79d9b !important;
	--ion-color-contrast: white !important;
	--ion-color-contrast-rgb: #d79d9b !important;
	--ion-color-shade: #d79d9b !important;
	--ion-color-tint: #d79d9b !important;
}

.ion-color-blue {
	--ion-color-base: var(--ion-color-blue) !important;
	--ion-color-base-rgb: var(--ion-color-blue-rgb) !important;
	--ion-color-contrast: var(--ion-color-blue-contrast) !important;
	--ion-color-contrast-rgb: var(--ion-color-blue-contrast-rgb) !important;
	--ion-color-shade: var(--ion-color-blue-shade) !important;
	--ion-color-tint: var(--ion-color-blue-tint) !important;
}

.ion-color-purple {
	--ion-color-base: var(--ion-color-purple) !important;
	--ion-color-base-rgb: var(--ion-color-purple-rgb) !important;
	--ion-color-contrast: var(--ion-color-purple-contrast) !important;
	--ion-color-contrast-rgb: var(--ion-color-purple-contrast-rgb) !important;
	--ion-color-shade: var(--ion-color-purple-shade) !important;
	--ion-color-tint: var(--ion-color-purple-tint) !important;
}

.ion-color-orange {
	--ion-color-base: var(--ion-color-orange) !important;
	--ion-color-base-rgb: var(--ion-color-orange-rgb) !important;
	--ion-color-contrast: var(--ion-color-orange-contrast) !important;
	--ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb) !important;
	--ion-color-shade: var(--ion-color-orange-shade) !important;
	--ion-color-tint: var(--ion-color-orange-tint) !important;
}

.ion-color-gold {
	--ion-color-base: var(--ion-color-gold) !important;
	--ion-color-base-rgb: var(--ion-color-gold-rgb) !important;
	--ion-color-contrast: var(--ion-color-gold-contrast) !important;
	--ion-color-contrast-rgb: var(--ion-color-gold-contrast-rgb) !important;
	--ion-color-shade: var(--ion-color-gold-shade) !important;
	--ion-color-tint: var(--ion-color-gold-tint) !important;
}

.ion-color-green {
	--ion-color-base: var(--ion-color-green) !important;
	--ion-color-base-rgb: var(--ion-color-green-rgb) !important;
	--ion-color-contrast: var(--ion-color-green-contrast) !important;
	--ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb) !important;
	--ion-color-shade: var(--ion-color-green-shade) !important;
	--ion-color-tint: var(--ion-color-green-tint) !important;
}

.ion-color-coral {
	--ion-color-base: var(--ion-color-coral) !important;
	--ion-color-base-rgb: var(--ion-color-coral-rgb) !important;
	--ion-color-contrast: var(--ion-color-coral-contrast) !important;
	--ion-color-contrast-rgb: var(--ion-color-coral-contrast-rgb) !important;
	--ion-color-shade: var(--ion-color-coral-shade) !important;
	--ion-color-tint: var(--ion-color-coral-tint) !important;
}

.ion-color-teal {
	--ion-color-base: var(--ion-color-teal) !important;
	--ion-color-base-rgb: var(--ion-color-teal-rgb) !important;
	--ion-color-contrast: var(--ion-color-teal-contrast) !important;
	--ion-color-contrast-rgb: var(--ion-color-teal-contrast-rgb) !important;
	--ion-color-shade: var(--ion-color-teal-shade) !important;
	--ion-color-tint: var(--ion-color-teal-tint) !important;
}

.ion-color-grey {
	--ion-color-base: var(--ion-color-grey) !important;
	--ion-color-base-rgb: var(--ion-color-grey-rgb) !important;
	--ion-color-contrast: var(--ion-color-grey-contrast) !important;
	--ion-color-contrast-rgb: var(--ion-color-grey-contrast-rgb) !important;
	--ion-color-shade: var(--ion-color-grey-shade) !important;
	--ion-color-tint: var(--ion-color-grey-tint) !important;
}

.ion-color-navy {
	--ion-color-base: var(--ion-color-navy) !important;
	--ion-color-base-rgb: var(--ion-color-navy-rgb) !important;
	--ion-color-contrast: var(--ion-color-navy-contrast) !important;
	--ion-color-contrast-rgb: var(--ion-color-navy-contrast-rgb) !important;
	--ion-color-shade: var(--ion-color-navy-shade) !important;
	--ion-color-tint: var(--ion-color-navy-tint) !important;
}

.ion-color-red {
	--ion-color-base: var(--ion-color-red) !important;
	--ion-color-base-rgb: var(--ion-color-red-rgb) !important;
	--ion-color-contrast: var(--ion-color-red-contrast) !important;
	--ion-color-contrast-rgb: var(--ion-color-red-contrast-rgb) !important;
	--ion-color-shade: var(--ion-color-red-shade) !important;
	--ion-color-tint: var(--ion-color-red-tint) !important;
}

.ion-color-lilac {
	--ion-color-base: var(--ion-color-lilac) !important;
	--ion-color-base-rgb: var(--ion-color-lilac-rgb) !important;
	--ion-color-contrast: var(--ion-color-lilac-contrast) !important;
	--ion-color-contrast-rgb: var(--ion-color-lilac-contrast-rgb) !important;
	--ion-color-shade: var(--ion-color-lilac-shade) !important;
	--ion-color-tint: var(--ion-color-lilac-tint) !important;
}

// Font Animations
.syncing {
	-webkit-animation-name: spin;
	-webkit-animation-duration: 1750ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spin;
	-moz-animation-duration: 1750ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spin;
	-ms-animation-duration: 1750ms;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	animation-name: spin;
	animation-duration: 1750ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@-ms-keyframes spin {
	from {
		-ms-transform: rotate(0deg);
	}

	to {
		-ms-transform: rotate(360deg);
	}
}

@-moz-keyframes spin {
	from {
		-moz-transform: rotate(0deg);
	}

	to {
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
