/* You can add global styles to this file, and also import other style files */

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.no-select {
  -webkit-user-select: none;
  user-select: none;
}

.hover:hover {
  --background: rgba(99, 99, 99, 0.185);
}

.hover-danger:hover {
  --background: var(--ion-color-danger)
}
